# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/
data/
cv-corpus-7.0-2021-07-21-en.tar.gz/
*.tsv
.vscode/

checkpoints/
hmm2/ckpt/
*.npy
test_data.py
runs/Dec30_04-41-46_nami-SYS-4029GP-TRTbigruattn/events.out.tfevents.1640810506.nami-SYS-4029GP-TRT
runs/Dec30_04-44-22_nami-SYS-4029GP-TRTaesrc/events.out.tfevents.1640810662.nami-SYS-4029GP-TRT
runs/Dec30_04-45-50_nami-SYS-4029GP-TRTaesrc/events.out.tfevents.1640810750.nami-SYS-4029GP-TRT
runs/Dec30_04-57-23_nami-SYS-4029GP-TRTaesrc/events.out.tfevents.1640811443.nami-SYS-4029GP-TRT
runs/Dec30_04-58-02_nami-SYS-4029GP-TRTaesrc/events.out.tfevents.1640811482.nami-SYS-4029GP-TRT
runs/Dec30_05-06-04_nami-SYS-4029GP-TRTaesrc/events.out.tfevents.1640811964.nami-SYS-4029GP-TRT
runs/Dec30_05-11-45_nami-SYS-4029GP-TRTcrnn/events.out.tfevents.1640812305.nami-SYS-4029GP-TRT
runs/Dec30_05-14-40_nami-SYS-4029GP-TRTcrnn/events.out.tfevents.1640812480.nami-SYS-4029GP-TRT
runs/Dec30_05-17-10_nami-SYS-4029GP-TRTcrnn/events.out.tfevents.1640812630.nami-SYS-4029GP-TRT
runs/Dec30_05-19-17_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640812757.nami-SYS-4029GP-TRT
runs/Dec30_05-22-17_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640812937.nami-SYS-4029GP-TRT
runs/Dec30_05-36-27_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640813787.nami-SYS-4029GP-TRT
runs/Dec30_06-19-46_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640816386.nami-SYS-4029GP-TRT
runs/Dec30_06-24-00_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640816640.nami-SYS-4029GP-TRT
runs/Dec30_06-28-14_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640816894.nami-SYS-4029GP-TRT
runs/Dec30_06-32-43_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640817163.nami-SYS-4029GP-TRT
runs/Dec30_06-38-56_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640817536.nami-SYS-4029GP-TRT
runs/Dec30_06-55-48_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640818548.nami-SYS-4029GP-TRT
runs/Dec30_06-57-43_nami-SYS-4029GP-TRTmixed/events.out.tfevents.1640818663.nami-SYS-4029GP-TRT
